@charset "UTF-8";

@font-face {
	font-family: "volunteer-dublin-city";
	src:url("../fonts/volunteer-dublin-city.eot");
	src:url("../fonts/volunteer-dublin-city.eot?#iefix") format("embedded-opentype"),
	url("../fonts/volunteer-dublin-city.woff") format("woff"),
	url("../fonts/volunteer-dublin-city.ttf") format("truetype"),
	url("../fonts/volunteer-dublin-city.svg#volunteer-dublin-city") format("svg");
	font-weight: normal;
	font-style: normal;

}

[data-icon]:before {
	font-family: "volunteer-dublin-city" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "volunteer-dublin-city" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-summary:before {
	content: "\3b";
}
.icon-support-key:before {
	content: "\3c";
}
.icon-teaching-learning:before {
	content: "\3d";
}
.icon-team-volunteering:before {
	content: "\3e";
}
.icon-under-18:before {
	content: "\3f";
}
.icon-unemployed:before {
	content: "\40";
}
.icon-view:before {
	content: "\5b";
}
.icon-vision:before {
	content: "\5d";
}
.icon-volunteer-day:before {
	content: "\5e";
}
.icon-weekend:before {
	content: "\5f";
}
.icon-administrative-office:before {
	content: "\61";
}
.icon-advice-information:before {
	content: "\62";
}
.icon-advocacy:before {
	content: "\63";
}
.icon-animal-fostering:before {
	content: "\64";
}
.icon-architecture-building:before {
	content: "\65";
}
.icon-arrow-left:before {
	content: "\66";
}
.icon-arrow-right:before {
	content: "\67";
}
.icon-arts:before {
	content: "\68";
}
.icon-befriending-mentoring:before {
	content: "\69";
}
.icon-blog-feed:before {
	content: "\6a";
}
.icon-blog-organisation:before {
	content: "\6b";
}
.icon-build-capacity:before {
	content: "\6c";
}
.icon-by-location:before {
	content: "\6d";
}
.icon-campaigning-lobbying:before {
	content: "\6e";
}
.icon-catering:before {
	content: "\6f";
}
.icon-committee-board:before {
	content: "\70";
}
.icon-community-economic:before {
	content: "\71";
}
.icon-computers-technology:before {
	content: "\72";
}
.icon-conservation-gardening:before {
	content: "\73";
}
.icon-contact-us:before {
	content: "\74";
}
.icon-counselling-listening:before {
	content: "\75";
}
.icon-disability:before {
	content: "\76";
}
.icon-disaster-emergency:before {
	content: "\77";
}
.icon-download:before {
	content: "\78";
}
.icon-driving-accompanying:before {
	content: "\79";
}
.icon-event-calendar:before {
	content: "\7a";
}
.icon-events-stewarding:before {
	content: "\41";
}
.icon-finance-accountancy:before {
	content: "\42";
}
.icon-first-aid:before {
	content: "\43";
}
.icon-fundraising:before {
	content: "\44";
}
.icon-garda-vetting:before {
	content: "\45";
}
.icon-getting-started:before {
	content: "\46";
}
.icon-group:before {
	content: "\47";
}
.icon-hexagon:before {
	content: "\48";
}
.icon-holistic-alternative:before {
	content: "\49";
}
.icon-homebased-virtual:before {
	content: "\4a";
}
.icon-hostel-accommodation:before {
	content: "\4b";
}
.icon-how-use-services:before {
	content: "\4c";
}
.icon-improving-english:before {
	content: "\4d";
}
.icon-in-person:before {
	content: "\4e";
}
.icon-in-phone:before {
	content: "\4f";
}
.icon-international-volunteer-day:before {
	content: "\50";
}
.icon-ivol:before {
	content: "\51";
}
.icon-justice-assistance:before {
	content: "\52";
}
.icon-languages-translating:before {
	content: "\53";
}
.icon-latest:before {
	content: "\54";
}
.icon-learning-english:before {
	content: "\55";
}
.icon-less:before {
	content: "\56";
}
.icon-library:before {
	content: "\57";
}
.icon-location:before {
	content: "\58";
}
.icon-marketing-journalism:before {
	content: "\59";
}
.icon-markquote-close:before {
	content: "\5a";
}
.icon-markquote-open:before {
	content: "\30";
}
.icon-migrants:before {
	content: "\31";
}
.icon-mission:before {
	content: "\32";
}
.icon-no-garda:before {
	content: "\33";
}
.icon-our-polices:before {
	content: "\34";
}
.icon-over-50:before {
	content: "\35";
}
.icon-pdf-thumb:before {
	content: "\36";
}
.icon-pink-button:before {
	content: "\37";
}
.icon-playschemes-preschools:before {
	content: "\38";
}
.icon-plus:before {
	content: "\39";
}
.icon-practical-farming:before {
	content: "\21";
}
.icon-quick-start:before {
	content: "\22";
}
.icon-register-company:before {
	content: "\23";
}
.icon-register-volunteer:before {
	content: "\24";
}
.icon-research-policy:before {
	content: "\25";
}
.icon-residential:before {
	content: "\26";
}
.icon-residential-volunteering:before {
	content: "\27";
}
.icon-resources:before {
	content: "\28";
}
.icon-search:before {
	content: "\29";
}
.icon-services-organisation:before {
	content: "\2a";
}
.icon-shops-retail:before {
	content: "\2b";
}
.icon-short-term:before {
	content: "\2c";
}
.icon-social-inclusion:before {
	content: "\2d";
}
.icon-specialist:before {
	content: "\2e";
}
.icon-specialist-support:before {
	content: "\2f";
}
.icon-sports-out:before {
	content: "\3a";
}
.icon-administrative-office:before {
	content: "\61";
}
.icon-advice-information:before {
	content: "\62";
}
.icon-advocacy:before {
	content: "\63";
}
.icon-animal-fostering:before {
	content: "\64";
}
.icon-architecture-building:before {
	content: "\65";
}
.icon-arrow-left:before {
	content: "\66";
}
.icon-arrow-right:before {
	content: "\67";
}
.icon-arts:before {
	content: "\68";
}
.icon-befriending-mentoring:before {
	content: "\69";
}
.icon-blog-feed:before {
	content: "\6a";
}
.icon-blog-organisation:before {
	content: "\6b";
}
.icon-build-capacity:before {
	content: "\6c";
}
.icon-by-location:before {
	content: "\6d";
}
.icon-campaigning-lobbying:before {
	content: "\6e";
}
.icon-catering:before {
	content: "\6f";
}
.icon-committee-board:before {
	content: "\70";
}
.icon-community-economic:before {
	content: "\71";
}
.icon-computers-technology:before {
	content: "\72";
}
.icon-conservation-gardening:before {
	content: "\73";
}
.icon-contact-us:before {
	content: "\74";
}
.icon-counselling-listening:before {
	content: "\75";
}
.icon-disability:before {
	content: "\76";
}
.icon-disaster-emergency:before {
	content: "\77";
}
.icon-download:before {
	content: "\78";
}
.icon-driving-accompanying:before {
	content: "\79";
}
.icon-event-calendar:before {
	content: "\7a";
}
.icon-events-stewarding:before {
	content: "\41";
}
.icon-finance-accountancy:before {
	content: "\42";
}
.icon-first-aid:before {
	content: "\43";
}
.icon-fundraising:before {
	content: "\44";
}
.icon-garda-vetting:before {
	content: "\45";
}
.icon-getting-started:before {
	content: "\46";
}
.icon-group:before {
	content: "\47";
}
.icon-hexagon:before {
	content: "\48";
}
.icon-holistic-alternative:before {
	content: "\49";
}
.icon-homebased-virtual:before {
	content: "\4a";
}
.icon-hostel-accommodation:before {
	content: "\4b";
}
.icon-how-use-services:before {
	content: "\4c";
}
.icon-improving-english:before {
	content: "\4d";
}
.icon-in-person:before {
	content: "\4e";
}
.icon-in-phone:before {
	content: "\4f";
}
.icon-international-volunteer-day:before {
	content: "\50";
}
.icon-ivol:before {
	content: "\51";
}
.icon-justice-assistance:before {
	content: "\52";
}
.icon-languages-translating:before {
	content: "\53";
}
.icon-latest:before {
	content: "\54";
}
.icon-learning-english:before {
	content: "\55";
}
.icon-less:before {
	content: "\56";
}
.icon-library:before {
	content: "\57";
}
.icon-location:before {
	content: "\58";
}
.icon-marketing-journalism:before {
	content: "\59";
}
.icon-markquote-close:before {
	content: "\5a";
}
.icon-markquote-open:before {
	content: "\30";
}
.icon-migrants:before {
	content: "\31";
}
.icon-mission:before {
	content: "\32";
}
.icon-no-garda:before {
	content: "\33";
}
.icon-our-polices:before {
	content: "\34";
}
.icon-over-50:before {
	content: "\35";
}
.icon-pdf-thumb:before {
	content: "\36";
}
.icon-pink-button:before {
	content: "\37";
}
.icon-playschemes-preschools:before {
	content: "\38";
}
.icon-plus:before {
	content: "\39";
}
.icon-practical-farming:before {
	content: "\21";
}
.icon-quick-start:before {
	content: "\22";
}
.icon-register-company:before {
	content: "\23";
}
.icon-register-volunteer:before {
	content: "\24";
}
.icon-research-policy:before {
	content: "\25";
}
.icon-residential:before {
	content: "\26";
}
.icon-residential-volunteering:before {
	content: "\27";
}
.icon-resources:before {
	content: "\28";
}
.icon-search:before {
	content: "\29";
}
.icon-services-organisation:before {
	content: "\2a";
}
.icon-shops-retail:before {
	content: "\2b";
}
.icon-short-term:before {
	content: "\2c";
}
.icon-social-inclusion:before {
	content: "\2d";
}
.icon-specialist:before {
	content: "\2e";
}
.icon-specialist-support:before {
	content: "\2f";
}
.icon-sports-out:before {
	content: "\3a";
}
.icon-summary:before {
	content: "\3b";
}
.icon-support-key:before {
	content: "\3c";
}
.icon-teaching-learning:before {
	content: "\3d";
}
.icon-team-volunteering:before {
	content: "\3e";
}
.icon-under-18:before {
	content: "\3f";
}
.icon-unemployed:before {
	content: "\40";
}
.icon-view:before {
	content: "\5b";
}
.icon-vision:before {
	content: "\5d";
}
.icon-volunteer-day:before {
	content: "\5e";
}
.icon-weekend:before {
	content: "\5f";
}
