nav {
	// z-index: 1032;
	&.transparent {
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
		background-size: 100%;
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(100%, rgba(0, 0, 0, 0)));
		background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
		background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
		position: relative;
	}
	&.vol {
		background: $blue;
		height: 104px;
		.vdc-top-nav .vdc-menu-blocks .vdc-specific-menu ul {
			border-bottom: none;
		}
	}
	&.org {
		background: $purple;
		height: 104px;
		.vdc-top-nav .vdc-menu-blocks .vdc-specific-menu ul {
			border-bottom: none;
		}
	}
	height: 104px;
	font-size: 1.8rem;
	a {
		color: $white;
		cursor: pointer;
	}
	// Main Block
	.vdc-top-nav {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
		// Logo
		.vdc-menu-logo {
			flex-grow: 1;
			padding: 1.5rem 0;
		}
		// Menu Blocks
		.vdc-menu-blocks {
			position: inherit;
			color: $white;
			flex-grow: 1;
			// Top Flex Settings
			.vdc-nav-top-blocks {
				display: flex;
				justify-content: flex-end;
				align-items: flex-start;
				align-content: flex-start;
				div {
					flex-grow: 0;
					text-align: center;
					&.vdc-general-menu {
						position: relative;
						display: block;
						ul {
							margin: 0;
							padding: 1rem 0;
							list-style-type: none;
							li {
								padding: 0 1.5rem;
								line-height: 1.8rem;
								
								&:last-child {
									border-right: none;
								}
							}
						}
						> ul > li{
							border-right: 1px solid rgba($white, 0.7);
							height: 1em;
							margin-top: 1em;
							margin-bottom: 1em;
							> a{
								margin-top: -1em;
							}
						}
					}
					&.vdc-cta-menu {
						flex-grow: 0.5;
						a {
							padding: 1rem 1.5rem;
							background: $pink;
							line-height: 4rem;
							text-decoration: none;
							transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
							&:hover {
								background: $white;
								color: $pink;
							}
							i {
								font-size: 1.6rem;
							}
						}
					}
					&.vdc-social-top {
						ul.social-links {
							padding: 1rem 0;

							a {
								width: 20px;
								transition: color 0.3s ease-in-out;
								&:hover {
									color: $pink;
								}
							}
						}
					}
				}
			}
			// Specific Menu Flex Settings
			.vdc-specific-menu{
				ul {
					margin: 0;
					list-style-type: none;
					border-bottom: 0.1rem solid rgba($white, 0.7);
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					align-content: center;
					li {
						flex-grow: 1;
						line-height: 1.8rem;
						text-align: center;
						
					}
				}
				
				> ul > li+li:after{
					background-color: rgba($white, 0.7);
					margin-top: .6em;
					display: block;
					content: '';
					height: 1em;
					float: left;
					width: 1px;
				}
			}
			.vdc-specific-menu, .vdc-general-menu {
				> ul > li > a {
					padding: 1rem .5em 2rem;
					position: relative;
					z-index: 5;
				}
				ul {
					position: relative;
				}
			}
		}
		.vdc-specific-menu ul, .vdc-general-menu ul {
			&.top-menu {
				position: relative;
				a {
					color: white;
				}
			}
			li.menu-item-has-children {
				&:before {
					content: '';
					position: relative;
					bottom: -.5em;
					left: 3.5rem;
					margin-left: -5px;
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid $white;
					margin-right: auto;
					opacity: 0;
					transition: all 0.2s ease;
					transform: translateY(-.5em);
				}
				&:hover:before{
					opacity: 1;
					transition: all .1s ease;
					transform: translateY(0);
				}
			}
			.sub-menu {
				display: block;
				transition: all 0.2s ease;
				opacity: 0;
				right: 0;
				left: 0;
				position: absolute;
				overflow: hidden;
				z-index: 1;
				background: white;
				padding: 1.5rem !important;
				color: $submenu;
				top: 100%;
				transform: translateY(-100%);
				transform: translateY(-2em);
				max-height: 0;
				
				//hack for getting the menu to appear on tap on iOS 
				&:after{
					display: none;
					content: '';
				}
				
				li {
					float: left;
					font-size: 1.5rem;
					padding: .5rem .5rem .5rem 2.5rem !important;
					margin: .5rem 0;
					// line-height: 0;
					width: 33.333%;
					text-align: left;
					transition: border-color 0.3s ease-in-out;
					position: relative;
					
					&:before{
						$sub-menu-bar-height: .8em;
						content: '';
						left: 0;
						top: 50%;
						margin-top: -($sub-menu-bar-height / 2);
						position: absolute;
						width: 1px;
						height: $sub-menu-bar-height;
						display: block;
						background-color: $submenu;
					}
					
					&:hover, &:focus {
						&:before{
							background-color: $pink;
						}
					}
					a {
						color: $submenu;
						display: block;
						transition: color 0.3s ease-in-out;
						// padding: 0;
						&:hover, &:focus {
							color: $pink;
							text-decoration: none;
						}
					}
				}
			}
		}
		.vdc-general-menu ul li {
			float: left;
			&.menu-item-has-children {
				&:hover:before{
					transform: translateY(2em);
				}
			}
			&.menu-item-has-children:hover .sub-menu {
				transform: translateY(2.5em);
			}
			.sub-menu li {
				width: 50%;
			}
		}
		.menu-item-has-children:hover {
			.sub-menu {
				transition: all 0.1s ease;
				transform: translateY(0);
				max-height: 25em;
				opacity: 1;
				z-index: 10;
				
				//hack for getting the menu to appear on tap on iOS 
				&:after{
					display: none;
					content: '';
				}
			}
		}
	}
}
a {
	&.vdc-menu-underline  {
		position: relative;
		display: inline-block;
		text-decoration: none;
		color: $white;
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 1px;
			background: $white;
			opacity: 0;
			transition: height 0.3s, opacity 0.3s, transform 0.3s;
			transform: translateY(10px);
		}
		&:hover {
			&:after {
				text-decoration: none;
				height: 3px;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}
// Main Vol Org Tabs
.breadcrums_main-tabs {
	.flexy {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		div {
			flex-grow: 1;
			font-size: 1.5rem;
		}
	}
	&.vol, &.org {
		background: lighten($grey, 5%);
		height: 50px;
		.vdc-main-tabs ul li a {
			&.not-active.vol, &.not-active.org  {
				background: $grey;
				color: $submenu;
				text-decoration: none;
				transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
				&:hover {
					color: $white;
					text-decoration: none;
				}
			}
		}
	}
	&.transparent {
		.vdc-breadcrumbs {
			display: none;
		}
	}
	&.fixed-top{
		position: relative; //fixed
		top: 0; //104px
		left: 0;
		margin: 0 auto;
		right: 0;
		font-size: 1.8rem;
		// z-index: 1031;
	}
	.vdc-main-tabs {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			align-content: center;
			li {
				padding: 0 0.3rem;
				text-align: center;
				&:last-child {
					border-left: 1px solid rgba($white, 0.7);
				}
				a {	
					display: block;
					margin-top: 0.3rem;
					padding: 0.5rem 1.5rem;
					&.active {
						color: $white;
						&.vol {
							background: $blue;
							transition: background 0.3s ease-in-out;
							&:hover {
								background: lighten($blue, 20%);
								text-decoration: none;
							}
						}
						&.org {
							background: $purple;
							transition: background 0.3s ease-in-out;
							&:hover {
								background: lighten($purple, 20%);
								text-decoration: none;
							}
						}
					}
					&.not-active {
						color: rgba($white, 0.8);
						&.vol {
							background: transparent;
							transition: background 0.3s ease-in-out;
							&:hover {
								background: lighten($blue, 20%);
								text-decoration: none;
							}
						}
						&.org {
							background: transparent;
							transition: background 0.3s ease-in-out;
							&:hover {
								background: lighten($purple, 20%);
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
	.vdc-breadcrumbs {
		p {
			padding-top: 8px;
			font-size: 1.5rem;
			span {
				color: $submenu;
				&.breadcrumb_last {
					color: darken($submenu, 15%);
				}
				a {
					color: $submenu;
				}
			}
		}
	}
}




