#vdc-accordion-tabs {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

.vdc-accordion-plus {
	position: absolute;
	height: 100%;
	width: 70px;
	right: 0;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #d7d7d7;
	@include transition(background-color 0.2s ease-out, border-color 0.2s ease-out);
	border: 1px solid #d7d7d7;

	span {
		display: block;
		border-top: 2px solid #575756;
		width: 30px;
		position: absolute;
		top: 50%;
		@include transition(border 0.2s ease-out);

		&:last-child {
			@include transform(rotate(90deg));
		}
	}
}

.vdc-accordion-tab {
	margin-bottom: 10px;

	&.is-active {
		display: block;
	}

	&:hover, &:focus, &.is-active {
		cursor: pointer;

		.vdc-accordion-title {
			background-color: $pink;
			color: $white;
			border: 1px solid $pink;
		}

		.vdc-accordion-plus {
			background-color: $pink;
			border: 1px solid $pink;
			border-left: 1px solid #e74499;

			span {
				border-top: 2px solid $white;
			}
		}
	}
}

.vdc-accordion-title {
	box-sizing: border-box;
	border: 1px solid #d7d7d7;
	@include transition(background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out);
	@include display-flex();
	@include align-items(center);
	@include justify-content(space-between);
	position: relative;

	p {
		padding: 20px 70px 20px 30px;
		margin: 0;
		font-size: 18px;
		font-weight: 600;
	}
}


.vdc-accordion-content {
	background-color: #f3f3f3;
	padding: 20px 30px;
	display: none;
}