/*=====================
    General Styles
=====================*/
html {
    font-size: 8px;

    @include break(768px) {
        font-size: 10px;
    }
}

body {
    background: $white;
    color: $charcole;
    font-family: $mainFont;
    -webkit-font-smoothing: antialiased;
    animation-delay: .4s;
    font-size: 16px;
}
// JM remove
// p, li, a {
//     font-size: 16px;
//     font-weight: 400;
//     margin: 0;
// }

p {
    margin-bottom: 20px;
    font-size: 16px;
}

a {
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
    //position: relative;
    //z-index: 0;
    
    &:hover, &:focus {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5 {
    margin: 0;
    margin-bottom: 20px;
}

h1 {
    color: $pink;
}

h2 {
    color: $purple;
}

h3 {
    color: $blue;
}

h4 {
    color: #6a6d70;
}

h5 {
    color: #545652;
}


@for $item from 1 through length($headerSize) {
    h#{$item} {
        font-size: nth($headerSize, $item);
        line-height: nth($headerSize, $item)*1.5;
        font-family: $titleFont;
        font-weight: nth($headerWeight, $item);
    }
}

img {
    max-width: 100%;
    height: auto;
}

.social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    // display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    @media (min-width: 320px) and (max-width: 768px) {
        -webkit-justify-content: center;
        justify-content: center;
    }
    li {
        padding: 0 0.5rem;
        a {
            color: $white;
            width: 50px;
            margin: 0 auto;
            text-align: center;
            position: relative;
            display: inline-block;
            transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
            &:hover {
                color: $pink;
                transform: scale(1.1);
            }
            &.hexagon {
                position: relative;
                // z-index: 3;
                &:before {
                    content: 'H';
                    font-family: $vdcIcons;
                    position: absolute;
                    // z-index: 2;
                    font-size: 6rem;
                    top: -12px;
                    left: -1px;
                    @include break(768px) {
                        top: -21px;
                        left: -5px;
                    } 
                }
            }
        }
    }
}
// .navbar-fixed-top {
    // z-index: 1032;
// }
// .container {
//     padding-right: 0;
//     padding-left: 0;
// }
.vdc-content-spaceing {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.vdc-page {
    padding: 10rem 0 0;
    @include break(1200px) {
        padding: 6rem 0 0;
    }
    
}

.vdc-vol {
    h2 {
        color: $purple;

        &:before {
            padding-right: 1rem;
            font-size: 3rem;
            vertical-align: text-bottom;
            @include break(1024px) {
                font-size: 4rem;
            }
        }
    }
}

.vdc-org {
    h2 {
        color: $blue;

        &:before {
            padding-right: 1rem;
            font-size: 3rem;
            vertical-align: text-bottom;
            @include break(1024px) {
                font-size: 4rem;
            }
        }
    }
}

#post-6, #post-4 {
    padding: 0;
}
.wb-l-blue-bg {
    .font-page-icon {
        position: relative;
        &:before {
            position: absolute;
            top: 5px;
            left: -40px;
        }
    }
}
.vdc-page-title {
    h1 {
        padding-left: 25px;
        span {
            position: relative;
            &:before {
                position: absolute;
                top: 5px;
                left: -40px;
                @include break(1200px) {
                    top: 10px;
                    left: -50px;
                }
            }
        }
    }
    hr {
        max-width: 80%;
    }
}
.pink {
    color: $pink;
}
.purple {
    color: $purple;
}
.blue {
    color: $blue;
}
.white {
    color: $white;
}
#blockrandom {
    @include break(320px, 767px) {
        display: none;
    }
}
.vision-mission {
    margin-top: -20px !important;
}
.paging-navigation {
    position: relative;
    ul {
        padding: 0;
        margin: 0 0 3rem;
        list-style-type: none;
        display: inline;
        li {
            float: left;
            padding: 20px;
            span {
                &.current {
                    background: $grey;
                    padding:10px 15px;
                    border-radius: 50%;
                    color: darken($grey, 30%);
                }
            }
            a {
                &.page-numbers {
                    background: $blue;
                    padding:10px 15px;
                    border-radius: 50%;
                    color: $white;
                    transition: background 0.3s ease-in-out;
                    &:hover {
                        background: lighten($blue, 10%);
                    }
                }
                &.next, &.prev {
                    background: $pink;
                    padding: 10px 20px;
                    color: $white;
                    border-radius: 0;
                    transition: background 0.3s ease-in-out;
                    &:hover {
                        background: darken($pink, 10%);
                    }
                }
            }
        }
    }
}