body.home {
	&:before {
		content: '';
		@include background-image( linear-gradient(to top right, rgba($blue, 0.5), rgba($purple, 0.5) ) );
		width: 100%; height: 100%;
		position: fixed;
		// z-index: 1;
	}
	main {
		position: relative;
		top: 0; left: 0;
		// z-index: 2;
	}
}
.vdc-tint-b-p {
	// @include background-image( linear-gradient(to top right, rgba($blue, 0.5), rgba($purple, 0.5) ) );
	height: 100vh;
	color: $white;
	.vdc-logo {
		padding-top: 8vh;
		margin: 0 auto;
		text-align: center;
		max-width: 300px;
		@include break(1024px) {
			max-width: 450px;
		}
	}
	.vdc-main-links {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 8vh 0;
			@include display-flex;
			@include justify-content(center);
			@include flex-flow(row wrap);
			@include break(1280px) {
				padding-top: 13vh;
			}
			li {
				margin: 1rem 3rem;
				a {
					width: 25rem;
					text-align: center;
					font-weight: 100;
					font-size: 3rem;
					@include break(768px) {
						width: 40rem;
						font-size: 4rem;
					}
				}
			}
		}
	}
	.vdc-opening-statment {
		h1 {
			color: $white !important;
			font-size: 2rem;
			line-height: 2.5rem;
			font-weight: 300;
			@include break(768px) {
				font-size: 3.4rem;
				line-height: 5rem;
				font-weight: 300;
			}
		}
	}
	.vdc-footer-links{
		list-style-type: none;
		padding: 0;
		margin: 0;
		font-size: 3rem;
		font-weight: 200;
		@include display-flex;
		@include justify-content(center);
		@include flex-flow(column wrap);
		@include break(768px) {
			@include flex-flow(row wrap);
		}
		li {
			margin: 1rem;

			a {
				font-size: 26px;
				padding-top: 5px;
			}

			@include break(768px) {
				margin: 0 1rem;
			}
		}
	}
}

