body.home {
	&:before {
		content: '';
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1MmU2OCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NDIyNjMiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
		background-size: 100%;
		background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, rgba(37, 46, 104, 0.5)), color-stop(100%, rgba(100, 34, 99, 0.5)));
		background-image: -moz-linear-gradient(bottom, rgba(37, 46, 104, 0.5), rgba(100, 34, 99, 0.5));
		background-image: -webkit-linear-gradient(bottom, rgba(37, 46, 104, 0.5), rgba(100, 34, 99, 0.5));
		background-image: linear-gradient(to top right, rgba(37, 46, 104, 0.5), rgba(100, 34, 99, 0.5));
		width: 100%; height: 100%;
		position: fixed;
		// z-index: 1;
	}
	main {
		position: relative;
		top: 0; left: 0;
		// z-index: 2;
	}
}
.vdc-tint-b-p {
	// @include background-image( linear-gradient(to top right, rgba($blue, 0.5), rgba($purple, 0.5) ) );
	height: 100vh;
	color: $white;
	.vdc-logo {
		padding-top: 8vh;
		margin: 0 auto;
		text-align: center;
		max-width: 300px;
		@include break(1024px) {
			max-width: 450px;
		}
	}
	.vdc-main-links {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 8vh 0;
			display: flex;
			justify-content: center;
			flex-flow: row wrap;
			@media (min-width: 1280px) {
				padding-top: 13vh;
			}
			li {
				margin: 1rem 3rem;
				a {
					width: 25rem;
					text-align: center;
					font-weight: 100;
					font-size: 3rem;
					@include break(768px) {
						width: 40rem;
						font-size: 4rem;
					}
				}
			}
		}
	}
	.vdc-opening-statment {
		h1 {
			color: $white !important;
			font-size: 2rem;
			line-height: 2.5rem;
			font-weight: 300;
			@include break(768px) {
				font-size: 3.4rem;
				line-height: 5rem;
				font-weight: 300;
			}
		}
	}
	.vdc-footer-links{
		list-style-type: none;
		padding: 0;
		margin: 0;
		font-size: 3rem;
		font-weight: 200;
		display: flex;
		justify-content: center;
		flex-flow: column wrap;
		@media (min-width: 768px) {
			flex-flow: row wrap;
		}
		li {
			margin: 1rem;

			a {
				font-size: 26px;
				padding-top: 5px;
			}

			@include break(768px) {
				margin: 0 1rem;
			}
		}
	}
}

