.vdc-get-started-link {
	display: block;
	text-align: center;	
	padding: 30px 15px;
	margin: 5px;
	@include transition(background-color 0.2s ease-out);

	img {
		margin-bottom: 20px;
		height: 95px;
		@include transition(transform 0.2s ease-out);
		fill: #94d31b; 
	}
	i.icon {
		font-size: 10rem;
		color: white;
	}

	p {
		color: white;
		font-weight: 600;
		font-size: 17px;
		margin: -2rem 0 1rem;
	}

	&:hover, &:focus {
		background-color: $pink;
		
		img {
			@include transform(scale(1.03));
		}
	}
}

.vdc-get-started-link-purple {
	background-color: $purple;
}

.vdc-get-started-link-blue { 
	background-color: $blue;	
}


.vdc-box-links {
	@include display-flex();
	@include flex-wrap(wrap);
	@include justify-content(center);
}

.vdc-can-i-volunteer-link-box {
	width: 355px;
}

.vdc-org-get-started-link-box {
	width: 365px;
}

.vdc-vol-get-started-link-box {
	width: 272px;
}