header {
	&#vol-home {
		height: 55vh;

		@include break(768px) {
			height: 70vh;
		}

		@include break(992px) {
			height: 100vh;
		}

		&:before {
			content: '';
			@include background-image( linear-gradient(to top right, rgba($blue, 0.5), rgba($purple, 0.5) ) );
			width: 100%; height: 100%;
			position: absolute;
			// z-index: 1;
		}
	}
	 &#org-home {
	 	height: 55vh;

	 	@include break(768px) {
			height: 70vh;
		}

		@include break(992px) {
			height: 100vh;
		}

	 	&:before {
			content: '';
			@include background-image( linear-gradient(to top right, rgba($purple, 0.6), rgba($blue, 0.5) ) );
			width: 100%; height: 100%;
			position: absolute;
			// z-index: 1;
		}
	 }

}