header {
	.header-content-wrapper {
		position: absolute;
		// z-index: 1;
		top: 35%;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		padding: 0 15px;
		
		@include break(1024px) {
			top: 40%;
		}

		h1 {
			font-size: 5rem;
			font-weight: 300;
			color: $white;
			// z-index: 1;
			margin-bottom: 5rem;

			@include break(768px) {
				font-size: 6rem;
			}
			@include break(992px) {
				font-size: 10rem;
			}
		}

		a {
			display: inline-block;
		}
	}
}
.events-blog {
    height: 100%;
	@include break(768px) {
		@include background-image( linear-gradient(to right, $grey 50%, $white 50%) );
	}

	.events-blog-block {
		padding-bottom: 0;
		position: relative;
		// z-index: 0;

		.vdc-org, .vdc-vol {
			@include display-flex;
			@include align-content(center);
			@include align-items(center);
			@include justify-content(space-between);
			padding: 0;
			// @include break(1024px) {
			// 	padding: 0 30px;
			// }

			a {
				font-size: 2.1rem;
			}

			h2 {
				margin-bottom: 0;

				@include break(320px, 768px) {
					font-size: 2rem;
				}
				span {
					@include break(320px, 1023px) {
						display: none;
					}
					font-size: 2rem;
					font-weight: 300;
					color: darken($grey, 50%);
				}
			}
		}
	}
}

.link-arrow-pink {
	position: relative;
	background: $pink;
	padding: 0.65rem 15px;
	color: $white;
	font-size: 1.8rem;
	font-weight: 600;
	@include transition(background 0.3s ease-in-out, color 0.3s ease-in-out);
	@include break(320px, 768px) {
                font-size: 1.4rem;
    }

	&:before {
		content: '';
		position: absolute;
		border-top: 2.15rem solid transparent;
		border-bottom: 2.2rem solid transparent; 
		border-right: 15px solid $pink; 
		top: 0; left: -15px;	
		@include transition(border-right-color 0.3s ease-in-out);
		// @include break(768px) {
	 //        border-top: 17px solid transparent;
		// 	border-bottom: 17px solid transparent; 
		// 	border-right: 10px solid $pink; 
		// 	left: -10px;	
	 //      }
	}
	&:hover {
		// text-decoration: none;
		color: darken($white, 5%);;
		background: darken($pink, 5%);
		&:before {
			border-right-color: darken($pink, 5%); 
		}
	}
}
ul {
	&.events-listing {
		//padding: 0 20px 30px 0;
		padding: 0;
		padding-bottom: 30px;
		margin: 3rem 0 0;
		list-style-type: none;

		// p {
		// 	margin-bottom: 0;
		// }

		h5 {
			font-size: 18px;
			margin-bottom: 10px;
			color: #3c3c3b;
		}

		li {
			margin-bottom: 4rem;
			border-left: 0.6rem solid rgba($charcole, 0.1);
			@include transition(border-left-color 0.3s ease-in-out);
			&:hover {
				border-left-color: $pink;
			}
			&:last-child {
				margin-bottom: 0;
			}
			a {
				color: inherit;
			}
			hr {
				margin: 0.5rem 0;
				border: 0;
				border-top: 1px solid rgba($charcole, 0.3);
			}
			.date {
				text-align: center;
				

				p {
					padding: 1.3rem 0;	
					margin-bottom: 0;

					@include break(992px) {
						span {
							display: block;
							padding: 0;
							line-height: 30px;
						}
					}
				}

				span {
					color: $white;
					text-align: center;
					padding: 1rem 0;
					font-size: 2.8rem;
					font-weight: 300;
				}
				&.date-vol {
					p {
						background: $lightBlue;	
					}
				}
				&.date-org {
					p {
						background: $lightPurple;
					}
				}
			}
		}
	}
	&.blog-post {
		//padding: 0 0 30px 0;
		padding: 0;
		//margin: 2.5rem 0 0rem;
		margin-top: 2.5rem;
		margin-bottom: 0;
		list-style-type: none;
		li {
			margin-bottom: 5rem;
			figure {
				height: 170px;
				img {
					@include transition( transform 0.3s ease-in-out );
					&:hover {
						@include transform( scale(1.05 ) );
					}
				}
			}
			a {
				color: $charcole;
				text-decoration: none;
				// @include transition(color 0.3s ease-in-out);
				&:hover {
					text-decoration: none;
				}
				h5 {
					border-left: 0.6rem solid rgba($charcole, 0.1);
					padding-top: 0.5rem;
					padding-left: 1rem;
					margin-top: 1rem;
					@include transition(border-left-color 0.3s ease-in-out, transform 0.3s ease-in-out );
					&:hover {
						border-left-color: $pink;
						@include transform( translateX( 10px ) );
					}
				}
			}
		}
	}
}

@include break(992px) {
	.vdc-vol-events, .vdc-org-events {
		padding-right: 30px;
	}

	.vdc-vol-blog, .vdc-org-blog {
		padding-left: 30px;
	}
}
