@mixin break($args...) {
	@if length($args) == 1 {
		@media (min-width: nth($args,  1)) {
			@content; 
		}
	} @else {
		@media (min-width: nth($args, 1)) and (max-width: nth($args, 2)) {
			@content; 
		}
	}
}
/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {Keyword | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
// Border radius mixin
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Font Size / Line height  
@mixin font-sl($size, $line-height, $font: $mainFont) {
   font: #{$size}/#{$line-height} $font;
}

// Buttons
@mixin wb-button($color, $background, $padding) {
    display: inline-block;
    color: $color;
    background: $background;
    padding: $padding;
    text-decoration: none;
    font-size: 1.8rem;
    @include transition(color 0.3s ease-in-out, background 0.3s ease-in-out);
    &:hover {
        color: darken($color, 10%);
        background: lighten($background, 15%);
        text-decoration: none;
    }
    &:focus {
        color: darken($color, 15%);
        background: lighten($background, 18%);
        text-decoration: none;
    }
}

// Placeholder Text
@mixin placeholder {
  &::-webkit-input-placeholder {@content};
  &::-moz-placeholder {@content};
  &::-moz-placeholder {@content};
  &:-ms-input-placeholder {@content};
}

// For transition of pages
@mixin animation() {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@mixin effect($effect) {
  -webkit-animation-name: $effect;
  animation-name: $effect;
}


