nav {
	// z-index: 1032;
	&.transparent {
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
		background-size: 100%;
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(100%, rgba(0, 0, 0, 0)));
		background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
		background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
		position: relative;
		// z-index: 1033;
	}
	&.vol {
		background: $blue;
		height: 104px;
		.vdc-top-nav .vdc-menu-blocks .vdc-specific-menu ul {
			border-bottom: none;
		}
	}
	&.org {
		background: $purple;
		height: 104px;
		.vdc-top-nav .vdc-menu-blocks .vdc-specific-menu ul {
			border-bottom: none;
		}
	}
	// background: green;
	height: 104px;
	font-size: 1.8rem;
	a {
		color: $white;
		cursor: pointer;
	}
	// Main Block
	.vdc-top-nav {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
		// Logo
		.vdc-menu-logo {
			flex-grow: 1;
			padding: 1.5rem 0;
		}
		// Menu Blocks
		.vdc-menu-blocks {
			position: inherit;
			color: $white;
			flex-grow: 1;
			// Top Flex Settings
			.vdc-nav-top-blocks {
				display: flex;
				justify-content: flex-end;
				align-items: flex-start;
				align-content: flex-start;
				div {
					flex-grow: 0;
					text-align: center;
					&.vdc-general-menu {
						// flex-grow: 1;
						ul {
							margin: 0;
							padding: 1rem 0;
							list-style-type: none;
							display: flex;
							justify-content: space-around;
							align-items: flex-start;
							align-content: center;
							&.sub-menu {
								display: none;
							}
							li {
								padding: 0 1.5rem;
								border-right: 1px solid rgba($white, 0.7);
								line-height: 1.8rem;
								position: relative;
								&:last-child {
									border-right: none;
								}
								span {
									
								}
							}
						}	
					}
					&.vdc-cta-menu {
						flex-grow: 0.5;
						a {
							padding: 1rem 1.5rem;
							background: $pink;
							line-height: 4rem;
							text-decoration: none;
							transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
							&:hover {
								background: $white;
								color: $pink;
							}
							i {
								font-size: 1.6rem;
							}
						}
					}
					&.vdc-social-top {
						ul.social-links {
							padding: 1rem 0;

							a {
								width: 20px;
								transition: color 0.3s ease-in-out;
								&:hover {
									color: $pink;
								}
							}
						}
					}
				}
			}
			// Specific Menu Flex Settings
			.vdc-specific-menu {
				ul {
					margin: 0;
					padding: 1rem 0 2rem;
					list-style-type: none;
					border-bottom: 0.1rem solid rgba($white, 0.7);
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					align-content: center;
					li {
						// padding: 0 2rem;
						position: relative;
						flex-grow: 1;
						border-right: 1px solid rgba($white, 0.7);
						line-height: 1.8rem;
						text-align: center;
						&:first-child {
							padding-right: 2rem;
							flex-grow: 0;
						}
						&:last-child {
							flex-grow: 0;
							border-right: none;
							padding-left: 2rem; 
						}
						span {
							
						}
					}
				}
			}
		}
		.vdc-specific-menu ul, .vdc-general-menu ul {
			&.top-menu {
				position: relative;
				a {
					color: white;
					// margin-right: 15px;
				}
			}
			&.sub-menu {
				display: none;
				width: 575px;
				position: absolute;
				z-index: 1;
				background: white;
				padding: 1.5rem !important;
				color: $submenu;
				top: 3.8rem;
				text-align: center;
				&:before {
					content: '';
					position: absolute;
					top: -10px;
					width: 0px;
					height: 0px;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid $white;
					position: absolute;
					margin-left: auto;
					margin-right: auto;
					// z-index: 10;
				}
				li {
					float: left;
					font-size: 1.5rem;
					padding: 0rem 0.5rem !important;
					border-left: 1px solid $submenu;
					margin: 1rem 0;
					line-height: 1rem;
					width: 33%;
					text-align: center;
					transition: border-color 0.3s ease-in-out;
					&:hover, &:focus {
						border-left: 1px solid $pink;
					}
					a {
						color: $submenu;
						display: block;
						transition: color 0.3s ease-in-out;
						&:hover, &:focus {
							color: $pink;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}
a {
	&.vdc-menu-underline  {
		position: relative;
		display: inline-block;
		text-decoration: none;
		color: $white;
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 1px;
			background: $white;
			opacity: 0;
			transition: height 0.3s, opacity 0.3s, transform 0.3s;
			transform: translateY(10px);
		}
		&:hover {
			&:after {
				text-decoration: none;
				height: 3px;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}
// Main Vol Org Tabs
.breadcrums_main-tabs {
	.flexy {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		div {
			flex-grow: 1;
			font-size: 1.5rem;
		}
	}
	&.vol, &.org {
		background: lighten($grey, 5%);
		height: 50px;
		.vdc-main-tabs ul li a {
			&.not-active.vol, &.not-active.org  {
				background: $grey;
				color: $submenu;
				text-decoration: none;
				transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
				&:hover {
					color: $white;
					text-decoration: none;
				}
			}
		}
	}
	&.transparent {
		.vdc-breadcrumbs {
			display: none;
		}
	}
	&.fixed-top{
		position: relative; //fixed
		top: 0; //104px
		left: 0;
		margin: 0 auto;
		right: 0;
		font-size: 1.8rem;
		// z-index: 1031;
	}
	.vdc-main-tabs {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			align-content: center;
			li {
				padding: 0 0.3rem;
				text-align: center;
				&:last-child {
					border-left: 1px solid rgba($white, 0.7);
				}
				a {	
					display: block;
					margin-top: 0.3rem;
					padding: 0.5rem 1.5rem;
					&.active {
						color: $white;
						&.vol {
							background: $blue;
							transition: background 0.3s ease-in-out;
							&:hover {
								background: lighten($blue, 20%);
								text-decoration: none;
							}
						}
						&.org {
							background: $purple;
							transition: background 0.3s ease-in-out;
							&:hover {
								background: lighten($purple, 20%);
								text-decoration: none;
							}
						}
					}
					&.not-active {
						color: rgba($white, 0.8);
						&.vol {
							background: transparent;
							transition: background 0.3s ease-in-out;
							&:hover {
								background: lighten($blue, 20%);
								text-decoration: none;
							}
						}
						&.org {
							background: transparent;
							transition: background 0.3s ease-in-out;
							&:hover {
								background: lighten($purple, 20%);
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
	.vdc-breadcrumbs {
		p {
			padding-top: 8px;
			font-size: 1.5rem;
			span {
				color: $submenu;
				&.breadcrumb_last {
					color: darken($submenu, 15%);
				}
				a {
					color: $submenu;
				}
			}
		}
	}
}




