.vdc-blog-overview {
	.managing-volunteers, .post {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 35px;
		display: block;

		h2 {
			font-size: 20px;
			line-height: initial;
			font-weight: 600;
			color: $blue;
		}

		&:hover, &:focus {
			text-decoration: none;
			cursor: pointer;
		}

		.featured-image {
			//height: 205px;
			overflow: hidden;
			margin-bottom: 25px;

			img {
				width: 100%;
				height: auto;
				@include transition(transform 0.2s ease-out);
			}
		}

		.entry-content {
			color: #848484;
		}

		&:hover, &:focus {
			.featured-image img {
				@include transform(scale(1.03));
			}
		}
	}	

	.post {
		max-width: 400px;


	}

	.managing-volunteers {

	}
}

.vdc-news-single {
	h1 {
		text-align: center;
		color: $pink;
	}

	.featured-image {
		margin-bottom: 35px;
	}

	figure.featured-image img {
		width: 100%;
		height: auto;
	}

	.content {
		color: #848484;
		margin-bottom: 35px;
	}
}

.vdc-single-post-date {
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	color: $black;
	margin-bottom: 35px;
}

.vdc-back-btn {
	padding: 10px 25px;
	background-color: $blue;
	border: none;
	color: $white;
	font-size: 16px;
	margin-bottom: 3rem;
	@include transition(background-color 0.2s ease-out);

	&:hover, &:focus {
		background-color: darken($blue, 10);
	}
}