.vdc-quote-row {
	padding-top: 50px;
	padding-bottom: 50px;
}

.vdc-quote-text {
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 40px;
	position: relative;

	&:before {
		font-family: "volunteer-dublin-city";
		content: "0";
		color: $pink;
		position: absolute;
		left: -60px;
    		top: -30px;
		font-size: 3rem;
	}

	&:after {
		font-family: "volunteer-dublin-city";
		content: "Z";
		color: $pink;
		position: absolute;
		right: -50px;
		bottom: -17px;
		font-size: 4rem;
	}

	p {
		font-size: 24px;
		color: #afafaf;
	}
}

.vdc-quote-link {
	display: block;
	font-size: 18px;
	color: $blue;
	text-align: center;
	font-weight: 600;

	&:hover, &:focus {
		color: darken($blue, 10);
	}
}