.vdc-attachments {
	@include display-flex();
	@include justify-content(center);
	@include flex-wrap(wrap);
	padding-top: 60px;
}

.vdc-attachment {
	margin: 0 15px 35px 15px;
	width: 142px;

	p {
		color: #575756;
		text-align: center;
	}
	
	&:hover, &:focus {
		img {
			@include transform(scale(1.03));
		}
	}

}

.vdc-attachment-icon-container {
	padding: 35px 25px 10px;
	background: $purple;
	margin-bottom: 10px;
	@include transition(background 0.3s ease-in-out);
	&:hover {
		background: $pink;
	}
	i {
		font-size: 10rem;
	}
}
.vdc-tab-panels {
	.col-md-4 {
		img {
			width: 100%;
		}
	}
	.col-md-8 {
		hr {
			max-width: 100%;
		}
	}
}