.hamburger {
	&:focus {
		outline: none;
	}
}

.mobile-menu {
	text-align: center;
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1MmU2OCIgc3RvcC1vcGFjaXR5PSIwLjkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NDIyNjMiIHN0b3Atb3BhY2l0eT0iMC45Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(37, 46, 104, 0.9)), color-stop(100%, rgba(100, 34, 99, 0.9)));
	background-image: -moz-linear-gradient(left, rgba(37, 46, 104, 0.9), rgba(100, 34, 99, 0.9));
	background-image: -webkit-linear-gradient(left, rgba(37, 46, 104, 0.9), rgba(100, 34, 99, 0.9));
	background-image: linear-gradient(to right, rgba(37, 46, 104, 0.9), rgba(100, 34, 99, 0.9));
	display: none;
	position: absolute;
	width: 100%;
	top: 0;
	padding-top: 62px;
	padding-bottom: 20px;
	z-index: 1;
	&.vol {
		li a {
			color: $blue;
		}
	}

	&.org {
		li a {
			color: $pink;
		}
	}

	.vdc-cta-menu, .vdc-social-top {
		display: none;
	}

	a:after {
		display: none;
	}

	#menu-general-top-1 {
		padding-top: 12px;
		padding-bottom: 12px;

		li {
			&:last-child {
				display: inline-block;
				margin: 0 auto;
				border-bottom: 2px solid rgba($white, 0.8);
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		.mobile-sub-menu {
			display: none;
			background: rgba(0,0,0,0.3);
			li {
				a {
					font-size: 18px;
				}
				&:last-child {
					border: none;
				}
				&:first-child {
					padding-top: 15px;
				}
			}
		}
	}

	li {
		list-style-type: none;
		padding-bottom: 15px;
		a {
			font-size: 22px;
			font-weight: 700;
			padding-bottom: 12px;
			color: $white;
		}
	}

	ul {
		padding: 0;
		margin: 0;
	}



	.vdc-specific-menu {
		li, a {
			font-weight: 400;
		}
	}
}

.mobile-nav {
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.20);
	background-color: $white;


	&.transparent {
		background-color: transparent;
		box-shadow: none;
	}

	&.org, &.vol {
		box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.20);

		.vdc-mobile-header-btns {
			//background-color: white;

			a {
				background-color: $white;

				&:hover, &:focus {
					background-color: darken($white, 15);
				}

				&:first-child {
					color: $blue;
				}

				&:last-child {
					color: $pink;
				}
			}
		}
	}

	&.org {
		background-color: $pink;

		.mobile-menu {
			background-color: $purple;
			li a {
				color: white;
			}
		}
	}

	&.vol {
		background-color: $blue;

		.mobile-menu {
			background-color: $lighterBlue;
			li a {
				color: white;
			}
		}
	}
}

