<div class="header">
  <i class="pointer fa fa-angle-left" ng-click="previous()" role="button" tabindex="0"></i>
  <span>{{today | date:'yyyy-MMMM'}} </span>
  <i class="pointer fa fa-angle-right" ng-click="next()" role="button" tabindex="0"></i>
</div>
<div class="week names">
  <day-name name="name"
    ng-repeat="name in dayNames track by $index" />
</div>
<div class="week" ng-repeat="week in weeks track by $index">
    <day ng-repeat="day in week.days track by $index" 
        day="day" unselect-all-days="unselectAllDays()" />
</div>