<div class="opportunities" ng-if="opps.length > 0">
  <div class="opps-item" ng-repeat="opp in opps track by $index">
    <div class="row opportunity-item">

      <div class="col-xs-6 col-md-3 sub-item">
        <h5>Opportunity</h5>
        <p>
          {{opp.title}}
        </p>
      </div>
      <div class="col-xs-6 col-md-2 sub-item">
        <div class="col-xs-6 col-sm-3 col-md-6 opp_out">
          <a class="opp_category" aira-label="{{opp.opp_category}}" href="http://localhost:8888/vol/dublin-opp/opportunities-?c={{opp.opp_category}}">
            <i class="opp_tooltip icon icon-{{opp.opp_category}} " aria-hidden="true" role="presentation" data-title="{{opp.opp_category}}"></i>
          </a>
        </div>
      </div>
      <div class="clearfix visible-xs visible-sm"></div>
      <div class="col-xs-6 col-md-3 sub-item">
        <h5>Organisation</h5>
        <p>
          {{opp.organisation}}
        </p>
      </div>
      <div class="col-xs-6 col-md-3 sub-item location">
        <h5>Location</h5>
        <a href="http://maps.google.com/maps?z=12&amp;t=m&amp;q=loc:{{opp.location.lat}}+{{opp.location.lng}}" target="_blank">
          {{opp.location.address}}
        </a>
      </div>
      <div class="col-xs-12 col-md-1 sub-item view">
        <a href="http://waitbutwhy.com/" target="_blank"><span>View</span></a>
      </div>
    </div>
  </div>
</div>