.mobile-nav {
	position: fixed;
	width: 100%;
	z-index: 9999;
	padding-top: 5px;
	padding-bottom: 5px;
	top: 0;
	//position: relative;

	.container {
		@include display-flex;
		@include justify-content(space-between);
		@include align-items(center);	
		color: $white;
		padding: 0 15px;
		position: relative;
		z-index: 2;

		&:before, &:after {
			display: none;
		}
	}

	.logo {
		height: 40px;
		color: white;

		@include break(768px) {
			height: 55px;
		}
	}


	.vdc-mobile-header-btn {
		color: white;
		font-size: 14px;
		padding: 5px 10px;
		border: none;
		font-weight: 600;
		@include transition(background-color 0.2s ease-out);

		@include break(768px) {
			margin: 0 10px;
			font-size: 16px;
		}

		&:focus {
			outline: none;
		}

		&.blue {
			background-color: $blue;

			&:hover, &:focus {
				background-color: darken($blue, 10);
			}
		}

		&.purple {
			background-color: $purple;

			&:hover, &:focus {
				background-color: darken($purple, 10);
			}
		}
	}
}

.mob-events-blog {
	margin: 3rem 0 0;
	.link-wrapper {
		margin-top: 1rem;
		float: right;
	}
	.link-arrow-pink {
		padding: 10px 15px;
		font-size: 2rem;
		@include break(768px) {
			padding: 8px 20px;
		}
		&:before {
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent;
		}
	}
	.events {
		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			li {
				@include break(768px) {
					margin-bottom: 2rem;
				}
				.content {
					border-left: 3px solid rgba($black, 0.2);
					padding-left: 10px;
				}
				h5 {
					margin-bottom: 5px;
					font-size: 2rem;
					color: $black;
				}
				hr {
					margin: 5px auto;
				}
				.date {
					padding: 5px 0;
					background: #61A3D2;
					color: $white;
					@include break(768px) {
						padding: 0;
					}
					span {
						&.day {
							font-size: 3rem;
							font-weight: 600;
							@include break(768px) {
								font-size: 2.5rem;
							}
						}
						&.month {
							font-size: 3.5rem;
							font-weight: 300;
							@include break(768px) {
								font-size: 3rem;
							}
						}
					}
				}
			}
		}
	}
	.blog-mobile {
		background: #e6e6e6;
		padding: 3rem 0;
		.blogs {
			h5 {
				font-size: 14px;
				padding-left: 10px;
				border-left: 3px solid rgba($black, 0.2);
				margin-top: 10px;
			}
		}
	}
}
.vdc-vol-events, .vdc-vol-blog {
	h2 {
		color: $blue;
	}
}
.vdc-org-events, .vdc-org-blog {
	h2 {
		color: $purple;
	}
}
.mob-featured-cta {
	background: $pink;
	color: $white;
	padding: 1rem 0;
	i {
		font-size: 5rem;
	}
	h4 {
		color: $white;
		font-size: 1.8rem;
		margin-bottom: 0;
		i {
			font-size: 1.7rem;
		}
	}
	.btn-wrapper {
		margin-top: 2rem;
		.mobile-btn {
			border: 1px solid white;
			padding: 10px 15px;
			color: white;
			font-size: 2rem;
			font-weight: 600;
			span {
				font-size: 1.5rem;
			}
			strong {

			}
		}
	}
}