.black-bg {
	height: 100px;
	background: $black;
	
}
.white-bg {
	height: 100px;
	background: $grey;
}
.purple-bg {
	height: 100px;
	background: $purple;
}
.blue-bg {
	height: 100px;
	background: $blue;
}
.green {
	height: 20px;
	background: green;
}
.red {
	height: 20px;
	background: red;
}
.yellow {
	height: 20px;
	background: yellow;
}
.pad-test {
	padding-top: 15px;
}
.short {
		height: 20px;
	}
a.cookie-set {
	color: white;
	&:hover, &:focus {
		background: yellow;
	}
}