@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700);
// Font
$mainFont: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$titleFont: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$vdcIcons: "volunteer-dublin-city";
$fontAwsome: "FontAwesome";
// Header Sizes
$headerSize: 5rem, 3rem, 2.5rem, 2rem, 1.8rem, 1.6rem;
$headerWeight: 200, 400, 400, 300, 600, 400;
// Colors
$white: #ffffff;
$black: #000000;
$charcole: #3C3C3B;
$pink: #e00d7b;
$purple: #642263;
$lightPurple: #9F237C;
$blue: #252e68;
$lightBlue: #61A3D2;
$lighterBlue: #243E83;
$grey: #e6e6e6;
$submenu: #9A9999;
$deleteme: #ddd333;
$oppsbg: #f3f3f3;