.vdc-volunteer-report-container {
	text-align: center;
	display: block;
	margin-bottom: 25px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e1e1e1;

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	&:hover, &:focus {
		img {
			@include transform(scale(1.03));
		}
	}
}

.vdc-volunteer-report-action {
	color: $blue;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 20px;
}

.vdc-volunteer-report-text {
	#{headings()} {
		color: $blue;
	};
}

.vdc-volunteer-report {
	@include display-flex();
	@include justify-content(center);
	@include align-items(center);

	img {
		//width: 50%;
		height: 80px;
		padding-right: 25px;
		@include transition(transform 0.2s ease-out);
	}

	p.vdc-volunteer-report-title {
		width: 170px;
		padding-left: 25px;
		text-align: left;
		color: $black;
		border-left: 1px solid #e1e1e1;
		min-height: 70px;
	}
}