// Styles to setup basic settings: 

// .row {
//     margin: 0;
// }
.vdc-spacing {
    margin: 0 auto;
    padding: 3rem 0 3.5rem;
}
.wb-blue-bg {
    background: $blue;
    color: $white;
    position: relative;
    // z-index: -1; Hover Issue

    #{headings()}, p, li, a {
        color: white !important;
    }

}
.wb-purple-bg {
    background: $purple;
    position: relative;
    // z-index: -1;Hover issue

    #{headings()}, p, li, a {
        color: white !important;
    }

    p {
        margin-bottom: 0;
    }

    #{headings()} {
        margin-bottom: 0;
    }
}
.wb-pink-bg {
    @extend .vdc-spacing;
    background: $pink;
    color: $white;
}
.wb-white-bg {
    @extend .vdc-spacing;
}
.wb-l-purple-bg {
    padding: 5rem 0;
    background: $lightPurple;
    color: $white;
    .col-md-4, .col-md-6 {
        border-right: 1px solid rgba($white, 0.3);
        &:last-of-type {
            border: none;
        }
        h2 {
            margin-top: 20px;
        }
    }
}
.wb-l-blue-bg {
    padding: 5rem 0;
    background: $lighterBlue;
    color: $white;
     .col-md-4, .col-md-6 {
        border-right: 1px solid rgba($white, 0.3);
        &:last-of-type {
            border: none;
        }
        h2 {
            margin-top: 20px;
        }
    }
}
.wb-purple-bg, .wb-blue-bg {
    @include single-box-shadow( 0px, 15px, 30px, -7px, rgba($black, 0.3), inset);
    color: $white;
    i {
        font-size: 8rem !important;
    }
    ul {
        @include display-flex;
        @include justify-content(space-between);
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        @include break(320px, 768px) {
                @include flex-wrap(wrap);
                @include justify-content(space-around);
        }
        a {
            @include break(320px, 768px) {
                width: 33%;
                padding: 2rem 0;
            }
            padding: 4rem 0;
            display: inline-block;
            color: $white;
            text-decoration: none;
            width: 100%;
            position: relative;
            @include transition(background 0.3s ease-in-out, box-shadow 0.3s ease-in-out);
            &:after {
                    content: '['; // Eye Icon
                    font-family: $vdcIcons;
                    font-size: 3rem;
                    opacity: 0;
                    position: absolute;
                    left: 0; right: 0;
                    margin: 0 auto;
                    text-align: center;
                    @include transition(opacity 0.3s ease-in-out);
                    @include break(320px, 768px) {
                        margin-top: -2rem;
                    }
                }
            &:hover {
                text-decoration: none;
                background: $pink;
                @include single-box-shadow( 0px, 15px, 30px, -7px, rgba($black, 0.3), inset);
                &:after {
                    opacity: 1;
                }
            }
            h5 {
                @include break(320px, 768px) {
                    word-break: break-word;
                    font-size: 1.6rem;
                    padding: 0 5px;
                    margin-top: -2rem;
                }
            }
        }
    }
}

.wb-light-grey-bg {
    @extend .vdc-spacing;
    background: #f9f9f9;
}

.wb-grey-bg {   
    @extend .vdc-spacing;
    background: $grey;
}

.wb-slider {
    // height: 50rem;
    .wb-slider-item {
        color: $white;
        height: 50rem;
        &:before {
            content: '';
            background: rgba($black, 0.1);
            position: absolute;
            top: 0; left: 0;
            height: 100%; width: 100%;
        }
        .content {
            position: relative;
            // z-index: 9999;
        }
    }
}
.wb-tabs-nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    @include display-flex;
}
i[class*='icon-'] {
    vertical-align: middle;
}
.blue, .blue-hedding {
    color: $blue;
}
.pink, .pink-heading {
    color: $pink;
}
.purple, .purple-hedding {
    color: $purple;
}
