body > *:first-child:before{
	display: block;
	z-index: 10000;
	left: 50px;
	bottom: 50px;
	right: 50px;
	top: 50px;
	padding: 1em;
	background-color: rgba(255, 255, 255, .6);
	width: 100%;
	font-size: 4em;
	font-weight: bold;
	content: "run 'compass watch' in the theme directory to get the CSS compiled";
	margin: 1em;
	-webkit-backdrop-filter: blur(10px);
}