ul.vdc-locations-list {
	padding: 0;
	margin: 0;
}


.vdc-location-list-item {
	color: $black;
	font-size: 18px;	
	width: 49%;
	display: inline-block;
	margin-bottom: 10px;
	//position: relative;
	padding-left: 30px;

	&:before {
		font-family: "volunteer-dublin-city";
		position: relative;
		color: #c4c4c3;
		content: "X";
		right: 10px;
	}

	@include break(768px) {
		width: 33%;
	}

	@include break(968px) {
		width: 24.5%;
	}
}