<h1 class="text-center oppportunity-page-title"> {{title}}</h1>
<div class="container">
	<div class="row">
		<div class="col-md-6" style="min-height: 400px;">

				<calendar selected="day" dates="allDates"></calendar><br>
				<!-- <p>{{day.format('ddd, MMM Do YYYY')}}</p> -->

		</div>
		
		<div class="col-md-6">
			<div ng-bind-html="page.acf.page_layouts[0].content | to_trusted"></div>
		</div>
	</div>
</div>

<div class="whats-on-listings">

	<div class="container">

		<div ng-repeat=" opp in newWhatsOn | filter: {date:  day.format('MMM Do YYYY') } | orderBy: 'date' as filtered_results" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
			
			<div class="row item">
				<div class="col-md-4">
					<figure>
						<a href="/{{opp.opp.slug}}" class="link-arrow-pink">See more</a>
						<img 
							ng-if="!opp.opp.better_featured_image.media_details.sizes.medium.source_url" 
							ng-src="http://placehold.it/300x300">
						<img 
							ng-if="opp.opp.better_featured_image.media_details.sizes.medium.source_url" 
							ng-src="{{opp.opp.better_featured_image.media_details.sizes.medium.source_url}}">
					</figure>
				</div>
				<div class="col-md-8">
					<h2 ng-bind-html="opp.opp.title.rendered | to_trusted | limitTo: 300"></h2>
					<hr>
					<div ng-if="opp.opp.acf.excerpt">
						<div ng-bind-html="opp.opp.acf.excerpt | limitTo: 250 | to_trusted"></div>
					</div>
					<div ng-if="!opp.opp.acf.excerpt">
						<!-- Demo text -->
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni delectus possimus sit aperiam quae molestias, eligendi beatae inventore quaerat, dolorem voluptatibus itaque suscipit iure numquam ipsum sint libero modi porro.</p>
					</div>
				</div>
			</div>

		</div>

		<div class="alert alert-info" ng-if="day.isToday" ng-show="filtered_results.length == 0">
		   	 <h2 class="text-center">No opportunities today<br>Please select an underlined date</h2>
		</div>
		<div class="alert alert-info" ng-show="filtered_results.length == 0">
		   	 <h2 class="text-center">No opportunities on {{day.format('ddd, MMM Do YYYY')}}<br>Please select an underlined date</h2>
		</div>

	</div>
</div>
