<h1 class="text-center oppportunity-page-title"><span calss="icon icon-weekend"></span> {{title}}</h1>

<div class="container list-op">

	<section ng-repeat="category in oppsByTypeCats | unique: 'name' | filter:query | orderBy: 'name'" class="opportunities">
		<span class="icon icon-{{category.icon}} opportunity-title-icon"></span><h2 class="opportunity-title line-after"><span>{{category.name}}</span></h2>
		<div class="opportunities">	
			<div class="opps-item" ng-repeat="opp in oppsByType" >
				<div ng-if="opp.acf.activity == category.icon">
					<div class="row opportunity-item" set-height>
						<div class="col-md-3 sub-item">
							<h5>Opportunity</h5>
							<p ng-bind-html="opp.title.rendered | to_trusted"></p>
						</div>
						<div class="col-md-2 sub-item">
							<h5></h5>
							<!-- icon in opp.acf.vdc_category -->
							<div class="col-md-6" ng-repeat="icon in opp.acf.vdc_category"> 
							<a href="#/{{icon}}"><i class="icon icon-{{icon}}" tooltips tooltip-template="{{icon | titleCase}}"></i></a>
							</div>
						</div>
						<div class="col-md-3 sub-item">
							<h5>Organisation</h5>
							<p ng-bind-html="opp.acf.organisation | to_trusted"></p>
						</div>
						<div class="col-md-3 sub-item location">
							<h5>Location</h5>
							<a ng-bind-html="opp.acf.location.address | to_trusted" ng-href="https://www.google.com/maps/place/{{opp.acf.location.lat}},{{opp.acf.location.lng}}/@{{opp.acf.location.lat}},{{opp.acf.location.lng}},16z" target="_blank"></a>
						</div>
						<div class="col-md-1 sub-item view">
							<a href="{{opp.acf.ivol_link}}" target="_blank" ><span>View</span></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>