<div class="container">
	<h1 class="text-center oppportunity-page-title" ng-bind-html="opp.title.rendered | to_trusted"></h1>
	<div class="row whats-on-detail">
		<div class="col-md-7">
			<img ng-src="{{opp.better_featured_image.media_details.sizes.large.source_url}}">
		</div>
		<div class="col-md-5">
			<h4 class="opp-title">When its on?</h4>
			
			<div ng-if=" type == 'reoday' ">
				<span class="opp-info">Every <span ng-repeat="day in days">{{day}} {{$last ? '' : ($index==opp.acf.reoccurring_days.length-2) ? ' and ' : ', '}}</span>.<br>Between the <span ng-repeat="date in dates">{{date}} {{$last ? '' : ($index==dates.length-2) ? ' and ' : ', '}}</span></span>
			</div>
			
			<div ng-if=" type == 'range' ">
				<span class="opp-info">Each day between the <span ng-repeat="date in dates">{{date.startDate}} and {{date.endDate}}</span></span>
			</div>

			<div ng-if=" type == 'reodate' ">
				<span class="opp-info">The <span ng-repeat="date in reo_dates">{{date}} {{$last ? '' : ($index==reo_dates.length-2) ? ' and the ' : ', '}}</span></span>
			</div>

			<div ng-if=" type == 'one' ">
				<span class="opp-info">It's on the {{date}}</span>
			</div>

			<hr>
			<h4 class="opp-title">Organisation</h4>
			<span class="opp-info" ng-bind-html="opp.acf.organisation | to_trusted"></span>
			<hr>
			<h4 class="opp-title">Location</h4>
			<span class="opp-info icon icon-location"> {{opp.acf.location.address}}</span>
			<hr>
			<h4 class="opp-title">Cause</h4>
			<span class="opp-info" ng-bind-html="cause | to_trusted"></span>
			<hr>
		</div>
	</div>
	<div class="whats-on-content" ng-bind-html="opp.acf.content | to_trusted">
	</div>
	<div class="text-center apply">
		<a href="{{opp.acf.ivol_link}}" class="btn-pink" target="_blank">Apply Now</a>
	</div>
</div>