.vdc-v-m-attachments {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 60px;
}

.vdc-v-m-attachment {
	margin: 0 15px 35px 15px;
	width: 142px;

	p {
		color: $blue;
		text-align: center;
		font-weight: 600;
	}
	
	&:hover, &:focus {
		img {
			transform: scale(1.03);
		}
	}

}

.vdc-v-m-attachment-icon-container {
	padding: 35px 25px 10px;
	background: $purple;
	margin-bottom: 10px;
	transition: background 0.3s ease-in-out;
	&:hover {
		background: $pink;
	}
	i {
		font-size: 10rem;
	}
}