@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700);
// Font
$mainFont: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$titleFont: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$vdcIcons: "volunteer-dublin-city";
$fontAwsome: "FontAwesome";
// Header Sizes
$headerSize: 5rem, 3rem, 2.5rem, 2rem, 1.8rem, 1.6rem;
$headerWeight: 200, 400, 400, 300, 600, 400;

// Colors
$white:				#fff;
.t_white{color: $white}
.t_white_bg{background-color: $white}

$black:				#000;
.t_black{color: $black}
.t_black_bg{background-color: $black}

$charcole:		#3C3C3B;
.t_charcole{color: $charcole}
.t_charcole_bg{background-color: $charcole}

$pink:				#e00d7b;
.t_pink{color: $pink}
.t_pink_bg{background-color: $pink}

$lightPink:		lighten(#e00d7b, 10%);
.t_lightPink{color: $lightPink}
.t_lightPink_bg{background-color: $lightPink}

$purple:			#642263;
.t_purple{color: $purple}
.t_purple_bg{background-color: $purple}

$lightPurple:	#9F237C;
.t_lightPurple{color: $lightPurple}
.t_lightPurple_bg{background-color: $lightPurple}

$blue:				#252e68;
.t_blue{color: $blue}
.t_blue_bg{background-color: $blue}

$lightBlue:		#61A3D2;
.t_lightBlue{color: $lightBlue}
.t_lightBlue_bg{background-color: $lightBlue}

$lighterBlue:	#243E83;
.t_lighterBlue{color: $lighterBlue}
.t_lighterBlue_bg{background-color: $lighterBlue}

$grey:				#e6e6e6;
.t_grey{color: $grey}
.t_grey_bg{background-color: $grey}

$submenu:			#9A9999;
.t_submenu{color: $submenu}
.t_submenu_bg{background-color: $submenu}

$deleteme:		#ddd333;
.t_deleteme{color: $deleteme}
.t_deleteme_bg{background-color: $deleteme}

$oppsbg:			#f3f3f3;
.t_oppsbg{color: $oppsbg}
.t_oppsbg_bg{background-color: $oppsbg}






.t_1{font-size: 1em}
.t_1-25{font-size: 1.25em}
.t_1-5{font-size: 1.5em}
.t_1-75{font-size: 1.75em}



















