.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}


.dev_message_container{
	position: fixed;
	bottom: 1em;
	right: 1em;
	left: 1em;
	z-index: 10000;
}

.dev_message{
	display: inline-block;
	border: 1px solid #c9a104;
	color: #444;
	border-radius: .25em;
	background-color: #FEEFB3;
	background-color: rgba(254, 239, 179, .6);
	-webkit-backdrop-filter: blur(1em);
	backdrop-filter: blur(1em);
	padding: .5em;
	// border: #FEEFB3
	
	*{
		margin: 0;
	}
}

