.border-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
calendar {
	float: left;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: white;
	width: 100%;
	border: solid 3px $blue;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 2rem 4rem;
	div {
		&.header {
			text-align: center;
			font-size: 2.5rem;
			position: relative;
			padding-bottom: 20px;
			border-bottom: 1px solid lightgrey;
			margin-bottom: 20px;
			
			i {
				font-size: 3.5rem;
				&.fa-angle-left{
					position: absolute;
					left: 10%;
				}
				&.fa-angle-right{
					position: absolute;
					right: 10%;
				}
			}
			
			.icon-arrow-left {
				position: absolute;
				left: 10%;
			}
			.icon-arrow-right {
				position: absolute;
				right: 10%;
			}
		}
		&.week {
			float: left;
					width: 100%;
			&.names {
				color: $blue;
			}
			> div {
				border-left: 4px solid blue;
				
				span {
					&.day {
						border-top: 1px solid $grey;
						border-right: 1px solid $grey;
					}
				}
				&:nth-last-child(1){
					> span {
						&.day {
							border-right: 0;
						}
					}
				}
			}
			span {
				&.day {
					float: left;
					width: 14.2857142857%;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					text-align: center;
					height: 50px;
					line-height: 50px !important;
					display: inline-block;
					vertical-align: middle;
					background: white;
					color: lighten($black, 35%);
					font-size: 2rem;
					// margin: .2em .25%;
					position: relative;
					
					
					&.opps_available, &.test {
						cursor: pointer;
						position: relative;
						background: rgba($grey, 0.5);
						transition: all 0.5s ease;
						color: black;
						
						&:hover, &:focus{
							&:not(.selected):not(.today){
								transition: all 0.1s ease;
								background: $grey;
							}
						}
					}
					&.today {
						background: lighten($pink, 20%);
						color: $white;
					}
					&.selected {
						background: $pink;
						color: white;
					}
					&.different-month{
						color: #ccc
					}
					
					.opps_number{
						position: absolute;
						top: 8px; 
						right: 10px;
						border-radius: 100%;
						background-color: $pink;
						border: 1px solid $pink;
						width: 10px;
						height: 10px;
						font-size: .1em;
						color: $pink;
						transition: all 0.5s ease;
						line-height: 1.5em;
					}
					
						&:hover, &:focus, &.selected{
							.opps_number{
								transition: all 0.1s ease;
								color: white;
								font-size: 1em;
								width: 32px;
								height: 32px;
							}
						}
						&.selected .opps_number{
							border-color: white;
						}
				}
			}
		}
	}
}
