.vdc-attachments {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 60px;
}

.vdc-attachment {
	margin: 0 15px 35px 15px;
	width: 142px;

	p {
		color: #575756;
		text-align: center;
	}
	
	&:hover, &:focus {
		img {
			transform: scale(1.03);
		}
	}

}

.vdc-attachment-icon-container {
	padding: 35px 25px 10px;
	background: $purple;
	margin-bottom: 10px;
	transition: background 0.3s ease-in-out;
	&:hover {
		background: $pink;
	}
	i {
		font-size: 10rem;
	}
}
.vdc-tab-panels {
	.col-md-4 {
		img {
			width: 100%;
		}
	}
	.col-md-8 {
		hr {
			max-width: 100%;
		}
	}
}



// make background images cover their element
.bck_img{
	background-position: center center;
	background-size: 100% auto;
	background-size: cover;
}

.rel{
	position: relative;
}
.abs{
	position: absolute;
}

.col_1{
	width: 100%;
}

.clear_left{
	clear: left;
}








// margins

.mb0{
	margin-bottom: 0;
}


//padding 
.pl1-2{
	padding-left: .5em
}




.v-align-p{
	display: table;
	
	.v-align-child{
		display: table-cell;
		vertical-align: middle;
		
		&.v-align-top {
			vertical-align: top;
		}
	}
}

.f_l{
	float: left;
}
.f_r{
	float: right;
}



.inline-block{
	display: inline-block;
}