.vision-and-mission-block {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	height: 100%;
	margin-bottom: 30px;

	h2 {
		margin-bottom: 27px;
		color: blcak;
	}

	i {
		font-size: 10rem;
		color: $pink;
	}

	p {
		max-width: 300px;
		margin: 0 auto;
	}

	@include break(992px) {
		border-right: 1px solid #d4d4d4;
		margin-bottom: 0;
	}

	&:last-child {
		border-right: none;
		margin-bottom: 0;
	}

}